* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo {
    background-color: tomato;
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
}

h1.logo {
    text-align: left;
    color: black;
    width: 50px;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 12px;
    margin: 0 auto;
}

.topnav {
    background-color: red;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.header {
    background-color: yellow;
    width: 100%;
    height: 150px;
    padding: 15px;
    margin-bottom: 10px;
}

.row {
    background-color: white;
    width: 100%;
    height: 450px;
    padding: 0;
    margin: 0;
}

.row .sidebar {
    width: 30%;
    background-color: palevioletred;
    float: left;
    height: 100%;
}

.row .bodyarea {
    width: 68%;
    height: 100%;
    background-color: teal;
    float: left;
    margin-left: 2%;
}

.footer {
    background-color: yellowgreen;
    width: 100%;
    height: 25px;
    margin-top: 15px;
}