<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <div class="row">
            <div class="nav">
                <h2>Side Bar
                    <br>Navigation</h2>
            </div>
            <div class="row_cnt">
                <div class="header">
                    <h2>Header/Banner</h2>
                </div>
                <div class="bodyarea">
                    <h2>Body Area</h2>
                </div>
            </div>

        </div>
        <div class="footer">
            <h2>Footer</h2>
        </div>
    </div>
</body>

</html>